<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous"
  />
</head>
<div class="conatiner">
  <div class="registration-box" style="border: 1px solid #ccc; padding: 20px">
    <h1 align="center">Registration Form</h1>

    <form
      #registerForm="ngForm"
      (ngSubmit)="empRegister(registerForm.value)"
      novalidate
    >
      <table align="center">
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-user"></i
              ></span>
              <input
                type="text"
                name="empName"
                class="form-control"
                placeholder="Enter Your Name"
                ngModel
                required
              />
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-usd"></i
              ></span>
              <input
                type="number"
                name="salary"
                class="form-control"
                placeholder="Enter Your Salary"
                ngModel
              />
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-user"></i
              ></span>
              <select id="gender" name="gender" ngModel class="form-control">
                <option value="" selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-calendar"></i
              ></span>
              <input type="date" name="doj" class="form-control" ngModel />
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-globe"></i
              ></span>
              <select name="country" class="form-control" ngModel>
                <option value="" selected>Select Country</option>
                <option
                  value="{{ country.cca3 }}"
                  *ngFor="let country of countries"
                >
                  {{ country.name.common }}
                </option>
              </select>
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-envelope"></i
              ></span>
              <input
                type="email"
                name="emailId"
                class="form-control"
                placeholder="Enter Your Email-Id"
                ngModel
                required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|co\.in|in|edu)"
              />
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-lock"></i
              ></span>
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Enter Your Password"
                ngModel
                required
                minlength="8"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&^])[A-Za-z\d@$!%?&^]{8,}$"
              />
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-lock"></i
              ></span>
              <input
                type="password"
                name="password1"
                class="form-control"
                placeholder="Confirm Password"
                ngModel
                required
                minlength="8"
              />
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-phone"></i
              ></span>
              <input
                type="text"
                name="mobile"
                class="form-control"
                placeholder="Enter Your Mobile Number"
                ngModel
                maxlength="10"
                minlength="10"
                pattern="^[7-9][0-9]{9}$"
              />
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"
                ><i class="glyphicon glyphicon-briefcase"></i
              ></span>
              <select name="department" class="form-control" ngModel>
                <option value="" selected>Select Department</option>
                <option
                  value="{{ department.deptId }}"
                  *ngFor="let department of departments"
                >
                  {{ department.deptName }}
                </option>
              </select>
            </div>
          </td>
        </tr>
        <br />
        <tr>
          <td>
            <button [disabled]="!registerForm.valid">Register</button> Already
            have an Account? <a href="">Login</a>
          </td>
        </tr>
      </table>

      <br />
      <div style="color: red" align="center">
        <div
          *ngIf="registerForm.controls['emailId']?.errors?.['required'] && registerForm.controls['emailId'].touched"
        >
          Please provide the Email-Id
        </div>
        <div
          *ngIf="registerForm.controls['password']?.errors?.['required'] && registerForm.controls['password'].touched"
        >
          Please provide the Password
        </div>
        <div
          *ngIf="registerForm.controls['emailId']?.errors?.['pattern'] && registerForm.controls['emailId'].touched"
        >
          Please provide a valid Email-Id
        </div>
        <div
          *ngIf="registerForm.controls['emailId']?.errors?.['minlength'] && registerForm.controls['emailId'].touched"
        >
          Please provide at least 2 characters for Email-Id
        </div>
        <div
          *ngIf="registerForm.controls['password']?.errors?.['minlength'] && registerForm.controls['password'].touched"
        >
          Please provide at least 8 characters for Password
        </div>
        <div
          *ngIf="registerForm.controls['password']?.errors?.['pattern'] && registerForm.controls['password'].touched"
        >
          Password must contain at least one uppercase letter, one lowercase
          letter, one numeric digit, and one special character (excluding '.')
        </div>
        <div
          *ngIf="registerForm.controls['mobile']?.errors?.['minlength'] && registerForm.controls['mobile'].touched"
        >
          Please provide at least 10 characters for Mobile Number
        </div>
        <div
          *ngIf="
            !registerForm.controls['mobile']?.valid &&
            registerForm.controls['mobile'].touched
          "
        >
          Please provide a valid Mobile Number
        </div>
        <div
          *ngIf="
            !(
              registerForm.controls['password']?.value ===
              registerForm.controls['password1']?.value
            ) && registerForm.controls['password1'].touched
          "
        >
          The passwords should match!
        </div>
      </div>
    </form>
  </div>
</div>
